.App {
  text-align: center;
}
body{
  background: black;
  color: red;
}

.card-grid{
  margin-top: 40px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* img{
  width: 170px;
  height: 200px;
} */